.base {
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 300ms;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  z-index: 10;
}
.hovered {
  composes: layer;
  opacity: 0;
}
.default {
  composes: layer;
  opacity: 1;
}
.disabled {
  composes: base;
  opacity: 0.5;
  pointer-events: none;
}
