.signInContainer {
  width: 100%;
  height: auto;
  margin-top: 5%;
  background: #fff;
  padding: 207px 80px 0 128px;
}

.welTxt {
  display: block;
}
.error {
  color: #ee0f0f;
  font-family: regular;
  font-size: 14px;
  padding-bottom: 5px;
}

.welcomeTxt {
  color: #4f439a;
  font-family: bold;
  font-size: 22px;
  display: inline-block;
}

.stayConnected {
  color: #7f7f7f;
  font-family: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.inputBox {
  width: 100%;
  /* margin-right: 30px; */
  height: auto;
  border-radius: 5px;
  /* border: 1px solid rgba(127, 127, 127, 0.5); */
  margin-top: 15px;
}

.passwordBlock {
  margin-top: 15px;
  vertical-align: middle;
}

.checkbox {
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
  height: 9px;
  width: 9px;
  display: inline-block;
  vertical-align: middle;
  outline: 2px solid #4f439a;
  margin-right: 10px;
}
.selectBox {
  display: inline-block;
}

.remPassword {
  color: #7f7f7f;
  font-family: regular;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  margin-left: 5px;
}
.forgotPassword {
  color: #7f7f7f;
  font-family: bold;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}
.forgotPassword:last-child {
  float: right;
}

.loginButton {
  width: 100%;
  height: auto;
  font-family: bold;
  background-color: #4f439a;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  /* margin-right: 5px; */
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
}

.loginButton:focus {
  outline: 0;
}

.backImg {
  height: 22px;
  width: 22px;
  margin-top: 16px;
  margin-left: 14px;
}
.starInTxt {
  color: #7f7f7f;
  font-family: regular;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}
.signUpNow {
  color: #4f439a;
  font-family: bold;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  cursor: pointer;
}

.loginWith {
  color: #4f439a;
  font-family: bold;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
.img {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border: 0.86px solid #4f439a;
  border-radius: 5px;
  cursor: pointer;
}

.backCircle {
  height: 55px;
  width: 55px;
  /* background-color: #555; */
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 60px;
  left: 45px;
}

@media only screen and (max-width: 768px) {
  .signInContainer {
    width: 100%;
    height: auto;
    margin-top: 5%;
    background: #fff;
    padding: 116px 20px 20px 18px;
  }
  .backCircle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 21px;
    left: 10px;
    box-shadow: none;

    /* border: 1px solid #4f439a; */
  }

  .checkbox {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    outline: 2px solid #4f439a;
    margin-right: 10px;
  }
  .forgotPassword {
    color: #7f7f7f;
    font-family: bold;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
  }
  .backImg {
    width: 15px;
    height: 15px;
    margin: 0px;
  }
  .forgotPassword:last-child {
    width: 100%;
    float: none;
  }
}
